name: Test
on:
  pull_request:
  push:
concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: corepack enable
      - run: pnpm i
      - name: Test
        run: pnpm --parallel --aggregate-output -r test
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: corepack enable
      - run: pnpm i
      - run: pnpm -r build # TSC needs should probably figure out how to fix it later
      - name: Lint
        run: pnpm --parallel --aggregate-output -r lint
